@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
/*HEADER*/

#logo-img {
	background: url('../images/chotay_logo1.jpg') no-repeat;
	width: 320px;
	height: 70px;
	margin: 0px 0px 0px 0px;

}

#header-nav {
	/*height: 100px;*/
	background-color: #ffffff;
	border:0px;
}


.navbar-brand h1 {
	font-size: 1.3em;
	font-style: italic;
	margin-top: 25px;
}

.navbar-brand  a{
	text-decoration: none;
}

.navbar-nav li a {
 line-height: 40px;
 margin-top: 20px;
}

.navbar-toggle {

	margin-top: 20px;

}

/*HOME PAGE*/

#homefood_tile, #hirechef_tile, #getcleaning_tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #4F8CC5;
	overflow: hidden;
}

#homefood_tile:hover, #hirechef_tile:hover, #getcleaning_tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#homefood_tile {
	background: url('../images/homefood.jpg') no-repeat;
	background-position: center;
}

#hirechef_tile {
	background: url('../images/hirechef.jpg') no-repeat;
	background-position: center;
}

#getcleaning_tile {
	background: url('../images/getcleaning.jpg') no-repeat;
	background-position: center;
}

#homefood_tile span, #hirechef_tile span, #getcleaning_tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}

#empty-space {
	height: 78px;
}
/* ORDER HOME FOOD */
#address-text, #food-preference-text {
	text-align: center;
	color: #4F8CC5;
	font-size: 1.4em;
}
.checkbox {
	text-align: center;
}

#search-button, #back-button {
	text-align: center;
	width: 25%;
	text-decoration: bold;
}

#button-tile {
	text-align: center;
}

#city-dropdown, #area-dropdown, .dropdown-menu{
	width: 100%;
}

#street-div, #house-div {
	height: 35px;
	text-align: center;
	font-size: 1.2em;
	color: #4F8CC5;
}

#street-input, #house-input{
	width: 75%;

}

#city-dropdown, #area-dropdown, .dropdown-menu li a, .checkbox
{
	color: #4F8CC5;	
}


/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  /*background-color: #4F8CC5;*/
  background-color: #CCCCCC;
  border-top: 0;
  color: #4F8CC5;
}
.panel-footer a{
	text-decoration: none;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#bottom-menu, #address {
  line-height: 2;
}
#bottom-menu > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}

#getapps {
	
	background: url('../images/Get-Apps.jpg') no-repeat;
	width: 175px;
	height: 150px;
	background-position: center;
	margin: 0 auto;
}
/* END FOOTER */

#list-group {
	height: 100px;
}

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
.rating-star { color: #248dc1 !important; }